form {
  width: 460px;
  margin: 40px auto 0;
  padding: 12px 42px 36px;
  border: 1px solid #eaeced;
  border-radius: 5px;
  overflow: hidden;
}

input{
  height: 44px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #9da3a6;
  background: #fff;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  color: #000;
  font-size: 1em;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 400;
  direction: ltr;
}

.btn-login{
  width: 100%;
  min-height: 44px;
  padding: 0;
  border: 0;
  display: block;
  background-color: #35A6E1;
  box-shadow: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: none;
  text-decoration: none;
}

.header-signup{
  text-align: center;
  padding-bottom: 24px;
}

.header-signup h1 {
  margin-bottom: 6px;
  font-size: 1.55rem;
  line-height: 2.25rem;
  font-weight: 300;
  text-transform: none;
  font-family: Helvetica Neue,Arial,sans-serif;
}
