<div *ngIf="transactions.length; else loading">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Date/Time</th>
      <th>Correspondent Name</th>
      <th>Transaction amount</th>
      <th>Resulting balance</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td>
          <div class="form-control">
            <input type="text" placeholder="Date(dd.mm.yyyy) ..." [(ngModel)]="searchByDate">
          </div>
        </td>
        <td>
          <div class="form-control">
            <input type="text" placeholder="Name ..." [(ngModel)]="searchByName">
          </div>
        </td>
        <td>
          <div class="form-control">
            <input type="text" placeholder="Amount ..." [(ngModel)]="searchByAmount">
          </div>
        </td>
      </tr>
      <tr
       *ngFor="let tr of transactions
       | searchName:searchByName
       | searchDate:searchByDate
       | searchAmount: searchByAmount;
       let idx = index">
        <td>{{ idx + 1}}.</td>
        <td>{{ tr.date | date:'medium':null:'ru' }}</td>
        <td>{{ tr.username }}</td>
        <td>{{ tr.amount.toFixed(2) }}</td>
        <td>{{ tr.balance.toFixed(2) }}</td>
    </tr>
  </tbody>
</table>
</div>
<ng-template #loading>
  <h2 class="text-center">You have no transactions yet</h2>
</ng-template>
