.main-bg {
  background-position:center;
  position:absolute;
  top: 61px;
  right:0px;
  bottom:0px;
  left:0px;
  background-image:url(../../assets/img/main-bg.jpg);
  background-size:cover;
  transition:all 1s linear;
}

.logo_m{
  width: 150px;
  display: block;
  float: left;
  margin: 0 0 0 30px;
}

.cls{
  margin: 30px;
}

.content_text{
  position: relative;
  top: 150px;
  padding-left: 20px;
  color: #ffffff;
}

.content_text h2{
  width: 400px;
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 600;

}

.content_text p{
  width: 400px;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 30px 0 0 30px;
}
